<html>

<body>
    <br>

    <mat-card-header>
        <mat-card-title class="header">Sent messages</mat-card-title>
    </mat-card-header> <br>

    <div class="box">
        <div class="full-width">
            <label class="lbl">User ID:</label>
            <input type="number" class="form-control" id="userId" name="userId" required>
        </div><br>

        <div class="full-width">
            <label class="lbl"> Received message ID:</label>
            <input type="number" class="form-control2" id="messageID" name="messageID" required>
        </div><br>

        <div class="full-width">
            <label class="lbl">Subject:</label>
            <input type="text" class="form-control" id="subject" name="subject" required>
        </div><br>

        <div class="full-width">
            <label class="lbl">Message:</label>
            <textarea class="form-native" id="message" name="message" rows="15" required></textarea>
        </div>
    </div>
</body>

</html>