<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Marcos</td>
            <td>Soto</td>
            <td>Mark@gmail.com</td>
            <td>Administrator</td>
            <button type="button" class="btn-warning" (click)="openModal()">Edit</button>
            <button type="button" class="btn-danger" (click)="deleteUser(id)">Delete</button>
        </tr>

        <tr>
            <td>Ernesto</td>
            <td>Juarez</td>
            <td>Ernesto@outlook.com</td>
            <td>User</td>
            <button type="button" class="btn-warning" (click)="openModal()">Edit</button>
            <button type="button" class="btn-danger" (click)="deleteUser(id)">Delete</button>
        </tr>

        <tr>
            <td>Paulina</td>
            <td>Sanchez</td>
            <td>Paulina@hotmail.com</td>
            <td>Administrator</td>
            <button type="button" class="btn-warning" (click)="openModal()">Edit</button>
            <button type="button" class="btn-danger" (click)="deleteUser(id)">Delete</button>
        </tr>

        <tr>
            <td>Rebecca</td>
            <td>Castro</td>
            <td>Rebecca@outlook.com</td>
            <td>Administrator</td>
            <button type="button" class="btn-warning" (click)="openModal()">Edit</button>
            <button type="button" class="btn-danger" (click)="deleteUser(id)">Delete</button>
        </tr>

        <tr>
            <td>Kevin</td>
            <td>Rodriguez</td>
            <td>Kevin@hotmail.com</td>
            <td>User</td>
            <button type="button" class="btn-warning" (click)="openModal()">Edit</button>
            <button type="button" class="btn-danger" (click)="deleteUser(id)">Delete</button>
        </tr>

        <tr>
            <td>Valeria</td>
            <td>Perez</td>
            <td>Valeria@outlook.com</td>
            <td>User</td>
            <button type="button" class="btn-warning" (click)="openModal()">Edit</button>
            <button type="button" class="btn-danger" (click)="deleteUser(id)">Delete</button>
        </tr>
    </tbody>
</table>

</html>